:root{
    --hue1: hsl(257, 98%, 77%);
    --hue2: hsl(240, 50%, 75%);
    --hue3: hsla(192, 100%, 50%, 0.2);
}

/*GOOGLE DOCS HOMEPAGE*/


    .docs-homescreen-grid-item-title, 
    .docs-hs-tmp-contractedheader-text, 
    .docs-homescreen-templates-templateview-title, 
    .docs-homescreen-itemholder-content, 
    .docs-homescreen-owner-filter-label-text{
        color: white !important;
    }
    .docs-homescreen-templates-templateview-style, 
    .docs-homescreen-grid-item-time-container, 
    .docs-homescreen-grid-header-title {
        color: #a6a6a6 !important;
    }

    .docs-homescreen-fcc-content, 
    .docs-homescreen-owner-filter-button, 
    .goog-menu-button-open{
        background-color: #2e2b2b !important;
    }
    .docs-homescreen-floater-header, .docs-homescreen-container{
        background-color: #272524 !important;
    }
        .goog-menuitem-content, .goog-menu-button-hover{
            color: #5f5b5b !important;
        }
        .goog-menuitem-content:hover{
            color: #1b1b1b !important;
        }
    .docs-homescreen-grid-header{
        background: none !important;
    }
    .goog-control-hover{
        border-radius: 0 !important;
    }
    .goog-control-open{
        background-color: rgb(110, 110, 110) !important;
    }
        .docs-homescreen-grid-item{
            border: 1px solid black !important;
            background-color: #302f2f !important;
        }

/*TOP TOOLBAR SECTION*/
#docs-chrome,
.docs-titlebar-buttons{
    background: #232323 !important;
}
.menu-button{
    color: white !important;
    margin-top: 0 !important;
}
.goog-control-hover{
    background-color: #ffffff3e !important;
}
#docs-primary-toolbars,
#docs-side-toolbar,
.docs-titlebar-badge,
.jfk-button,
.goog-toolbar-button,
.goog-toolbar-menu-button,
.docs-companion-app-switcher-container,
.kix-titlebar-mode-switcher,
#scb-quick-actions-menu
{
    background-color: var(--hue2) !important;
}

.docs-titlebar-badge, 
.jfk-button 
#docs-toolbar-wrapper,
#docs-title-widget,
#docs-parent-collections-container-outer{
    border-radius: 2px !important;
}

    /*Top left toolbar section*/
    #docs-menubar, #docs-titlebar-container{
        margin-left: 70px !important;
    }
    #docs-title-widget,
    .docs-titlebar-badges > * {
        margin-right: 5px;
        height: 28px !important;
    }
    .docs-title-input, .docs-title-input:focus{
        border: none !important;
        color: rgb(255, 255, 255) !important;
        height: 25px !important;
    }
    .docs-title-input {
        background-color: #212020 !important;
        color: transparent !important;
    }
    .docs-title-input-label {
        color: white !important;
        border-bottom: #999999 solid 1px !important;
    }
    #docs-parent-collections-container-outer{
        background-color: #d8d8d8 !important;
        height: 28px !important;
    }

    #docs-menubar{
        max-height: 20px !important ;
        margin-top: 18px !important;
        padding-bottom: 4px !important;
        border-left: solid 1px #c8c8c8 !important;
        border-right: solid 1px white !important;
    }
    
    /*Main editor toolbar*/
    #docs-toolbar-wrapper{
        width: 100% !important;
        background: none !important;
        margin: 0 !important;
        margin-top: 10px !important;
        padding: 0 !important;
        display: flex;
    }
    #docs-primary-toolbars {
        padding-left: 40px !important;
        flex: 2;
    }
    #docs-side-toolbar {
        margin-right: 0   !important;
        flex: 1;
    }

/*GOOGLE DOCS EDITOR*/
    .kix-appview-editor{
        background-color: rgb(40, 40, 40) !important;
    }
    .navigation-widget-floating-navigation-button.navigation-widget{
        background: #212020 !important;

    }
    .outlines-widget *{
    color: #ffffff !important;
    }
    .navigation-item.location-indicator-highlight *{
        color: var(--hue1) !important;
    }
    .navigation-item.goog-button-hover *,
    .goog-toolbar-button-hover, 
    .goog-toolbar-menu-button-hover{
        background-color: var(--hue3) !important;
    }


    .navigation-widget-row-controls-control, 
    .navigation-widget-hat-close-button-outer-box,
    .docs-floating-navigation-button-outer-box {
        background: #c4c4c4 !important;
    }
    .navigation-widget-row-controls-control:hover, 
    .navigation-widget-hat-close-button-outer-box:hover,
    .docs-floating-navigation-button-outer-box:hover {
        background: #999999 !important;
    }
    /*Oct. 15 2024 - Google docs tabs update*/
    .chapter-item-label-and-buttons-container-selected {
        background-color: #373737 !important;
    }
    .chapter-item-label-and-buttons-container {
        border-radius: 8px !important
    }
    .chapterItemIconContainer > .docs-icon,
    .chapter-overflow-menu-button > .goog-button {
        background-color: #d9d9d9 !important;
    }
    .kix-outlines-widget-header-contents {
        background-color: transparent !important;
    }
    .chapter-item-label-and-buttons-container:hover {
        background-color: var(--hue3) !important;
    }
    .goog-flat-button.chapter-arrow > .docs-icon {
        filter: invert() !important;
    }
    .goog-flat-button.chapter-arrow:hover{
        background-color: none !important;
    }
/*
.docs-icon {
    filter: invert() !important;
}
/*.kix-page-paginated{
        filter: brightness(0.9);
        will-change: filter;
    }*/

/*GOOGLE SLIDES*/

#filmstrip,
.punch-filmstrip-scroll {
    background-color: #1b1b1b !important;
}
#workspace-container {
    background-color: rgb(40, 40, 40) !important;
}
.punch-filmstrip-thumbnail-pagenumber {
    fill: #b0afaf !important;
}
#speakernotes-workspace-container,
#speakernotes-workspace{
    background-color: #d6d6d6 !important;
}