:root{
    --hue1: hsl(215, 19%, 12%);
    --hue2: hsl(209, 32%, 14%);
    --hue3: hsl(228, 17%, 40%);
}

/*LEFT SIDE TAB*/
    .ALpC8b, .ZHllM, 
    .YkfxEe, .gb_Wa,
    .S630me, .owVllc{
        background-color: var(--hue1) !important;
        color: white !important;
    }
    .a-da-U *, .ZPnS1 *, .jGNTYb *, .yHnyPe.Tguc8d,
    .gb_E, .wo35tf, .gb_sd
    {
    color: white !important;
    }
    /*folder highlight color*/
    .a-U-ye-ha > .a-U-J{ 
        background-color: rgb(22, 22, 22) !important;
    }
    .S630me {
        border-radius: 0px;
    }
    .gb_Wa {
        border: none !important;
    }

/*MAIN BODY*/
    .g3Fmkb, 
    .jLwBBf, 
    .PolqHc, 
    .Lxdbvc, 
    .N7iPof,
    .u2MXhc,
    .VUa0J,
    .eZQkd,
     .iBEKub{
        background-color: #313131 !important;
    }
    .jGNTYb *, .yHnyPe.Tguc8d, .h-sb-Ic, .WpZLE, .a-s-fa-Ha-pa.c-qd, .uXB7xe, .QsFsvc, .aViged, .TvarF, .PZFh5b, .gb_ld *{
        color: rgb(247, 247, 224);
    }
    .gb_xe *{
        color: black;
    }
    /*folder path color (appears at bottom)*/
    .c-qd, .o-Yc-o-T, .Q6yead,.WYuW0e, .l-o-c-qd, .YUNZ4c, .N7iPof *, 
    .GPeSMb, .cuTmdc, .PO9J1e, .mUIrbf-vQzf8d, #dnCage, 
    .AdEoae, .ZqJeHd.a-c-d, .nrMpUc, .gb_td.gb_ad, .jYPt8c,
    .ZkrXVe{
        color: rgb(187, 186, 186) !important;
    }

    /*some buttons at the top*/
    .glX3de, .brbsPe{
        background-color: var(--hue2) !important;
        color: white;
        border: 3px solid var(--hue3);
    }
    
    /*folders (grid layout view)*/
    .jGNTYb, .a-s-Ba-Ed-Be-nAm6yf, .YMooxe, .ZPnS1{ 
        background-color: #212121 !important;
        border: none !important;
        border-radius: 0 !important;
    }
    .l-u-Ab-zb, .pYTkkf-c-kBDsod-Rtc0Jf{
        background-color: rgb(38, 38, 38) !important;
    }
    .Lxdbvc{
        padding-left: 10px;
        margin-left: 0;
    }

    /*folders (list view)*/
    .WYuW0e{
        border-bottom-color: #0000002d !important;
    }
    
    .aabwZd:not(.KBj6Qd) .GZwC2b, .f8nwhd-qb23S-b9nz9e-Qu-wk{
        background-color: #4b5a64 !important;
    }

    /*workspace*/
    .kRNxUc.V3vwXb{
        background-color: var(--hue2) !important;
        color: white !important; 
        border: none !important;
        border: 3px solid var(--hue3);
    }
    .AeBiU-vQzf8d{
        color: white !important; 
    }
    .rTxrTb, .ab-S-V, .ab-S-Sg, .L17Que, .JDH2fe{
        color: rgb(210, 210, 210) !important;
    }
    .O5x1db.ACGwFc, .dF0p9d.sV64Wc{
        background-color: rgb(40, 40, 40) !important;
    }
    .XDBZ6 {
        color: #212121 !important;
    }
    .OHeAue > .VfPpkd-dgl2Hf-ka-dd, .pc7nUb.XDBZ6.Dk9rmd {
        background-color: var(--hue3) !important;
    }
    .VfPpkd-kBDsod > .Q6yead.QJZfhe{
        background-color: rgb(255, 255, 255) !important;
        color: rgb(40, 40, 40) !important;
    }
