:root{
    --color1-drive: hsl(211, 52%, 14%);
    --color2-drive: hsl(207, 40%, 17%);
    --color3-drive: hsl(229, 22%, 35%);

    --color1-docs: hsl(257, 98%, 77%);
    --color2-docs: hsl(240, 100%, 82%);
    --color3-docs: hsla(192, 100%, 50%);

    --color1-D2L: hsl(204, 100%, 71%);
    --color2-D2L: hsl(264, 68%, 50%);
    --color3-D2L: hsl(260, 34%, 15%);
}
#CB1-drive{ background-color: var(--color1-drive);}
#CB2-drive{ background-color: var(--color2-drive);}
#CB3-drive{ background-color: var(--color3-drive);}

#CB1-docs{ background-color: var(--color1-docs);}
#CB2-docs{ background-color: var(--color2-docs);}
#CB3-docs{ background-color: var(--color3-docs);}

#CB1-D2L{ background-color: var(--color1-D2L);}
#CB2-D2L{ background-color: var(--color2-D2L);}
#CB3-D2L{ background-color: var(--color3-D2L);}

body {
    padding: 25px;
    padding-top: 0;
    width: fit-content;
    
    font-family: monospace;
    font-weight: 400;
    font-size: 13px;
    color: white;
    background-color: rgb(43, 43, 43);

}
/*Pointer events: none*/
#colorOuter, .colorInner {
    pointer-events: none;
}
/*Color blocks*/
.outer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.colorInner{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 60px;
    margin-bottom: 20px;
}
.selected {
    content: "▲";
    border-bottom: solid 5px #ffffff;
}
.selected::after {
    position: relative;
    content: "▲";
    font-size: 20px;
    top: 110%; left: 42%;
}
colorBlock{
    pointer-events: all;
    display: block;
    width: 100px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
}

/*input elements*/
.hueSlider {
    left: 50%;
    width: 350px;
}

#buttonDiv {
    translate: 0 15px;
    display: flex;
    width: fit-content;
    align-self: end;
}
.butt {
    margin: 5px;
    padding: 7px;
    font-family: monospace;
    font-weight: 700;
    height: 30px;
    color: white;
    background-color: transparent;
}
.butt:hover{
    background-color: rgba(227, 241, 255, 0.3);
}
